.user-main {
    font-family: 'Montserat', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  
  .user-content {
    display: flex;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    gap: 50px;
  }
  
  .user-name {
    display: flex;
    align-items: center;
    width: 341px;
    height: 36px;
    background-color: #c4c4c4;
    border-radius: 18px;
    color: #000;
    font-weight: 400;
    font-size: 20px;
    justify-content: flex-start;
    padding-left: 10px;
  }
  
  .user-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
  .user-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px; /* Adjust as needed */
  }
  
  .user-rank {
    margin-left: auto;
    padding-left: 10px;
    display: flex;
    width: 207px;
    height: 36px;
    background-color: #c4c4c4;
    border-radius: 18px;
    color: #000;
    font-weight: 400;
    font-size: 20px;
    align-items: center;
    justify-content: center;
  }

  .pagination-buttons{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }