@import url('https://fonts.googleapis.com/css2?family=Medula+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

.ranking {
    background-color: #364652;
    width: 763px;
    /* height: 823px; */
    height: 80%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 0px 800px rgba(7,17,8,0.8);
    opacity: 0.95;
    position: relative;
}

.rank-title {
    font-size: 50px;
    font-family: 'Medula One', sans-serif;
    font-weight: 400;
    margin-bottom: 70px;
}

.user-button {
    font-family: 'Orbitron', sans-serif;
    width: 276px;
    height: 54px;
    background-color: #DBFEB8;
    border-radius: 28px;
    color: #000;
    border-style: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 22px;
    margin-top: 60px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.user-button:hover {
    box-shadow: 0px 0px 40px #3E885B;

}